<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header th:fragment="header">
    <div th:class="container">
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" th:href="@{/tecnicos}">Técnicos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/estadisticas}">Estadísticas - Sitios</a>
            </li>
        </ul>
    </div>
</header>
</html>