<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/bootstrap-icons/bootstrap-icons.css}"/>
    <title>Nuevo técnico</title>
</head>
<body>
        <div class="container">
            <header th:replace="Fragmentos/header :: header"></header>
            <div class="row mb-4">
                <div class="col-md-6 offset-md-3">
                    <h2 th:text="${tecnico.id == 0 ? 'Nuevo Técnico':'Editar Técnico'}">Editar Producto</h2>

                    <div class="alert alert-danger" role="alert" th:if="${msg != null}" th:text="${msg}">
                        A simple success alert—check it out!
                    </div>

                    <form method="post" th:action="@{'/tecnicos/save'}" th:object="${tecnico}">
                        <input th:field="*{id}" type="hidden"/>

                        <div class="mb-3">
                            <label class="form-label">Nombre</label>
                            <input th:field="*{firstName}" type="text" th:class="${#fields.hasErrors('firstName')?'form-control is-invalid':'form-control'}"/>
                            <div class="invalid-feedback"
                                 th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">
                                Mensaje de error de firstName
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Apellido</label>
                            <input th:field="*{lastName}" type="text" th:class="${#fields.hasErrors('lastName')?'form-control is-invalid':'form-control'}"/>
                            <div class="invalid-feedback"
                                 th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">
                                Mensaje de error de lastName
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">DNI</label>
                            <input th:field="*{dni}" type="number" th:class="${#fields.hasErrors('dni')?'form-control is-invalid':'form-control'}"/>
                            <div class="invalid-feedback"
                                 th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}">
                                Mensaje de error de dni
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Telefono</label>
                            <input th:field="*{phone}" type="number" th:class="${#fields.hasErrors('phone')?'form-control is-invalid':'form-control'}"/>
                            <div class="invalid-feedback"
                                 th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">
                                Mensaje de error de phone
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Edad</label>
                            <input th:field="*{age}" type="number" th:class="${#fields.hasErrors('age')?'form-control is-invalid':'form-control'}"/>
                            <div class="invalid-feedback"
                                 th:if="${#fields.hasErrors('age')}" th:errors="*{age}">
                                Mensaje de error de phone
                            </div>
                        </div>


                        <a th:href="@{'/tecnicos'}" class="btn btn-danger">Cancelar</a>
                        <button type="submit" class="btn btn-primary"
                                th:text="${tecnico.id == 0 ? 'Guardar':'Actualizar'}">Actualizar
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>