<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/bootstrap-icons/bootstrap-icons.css}"/>
        <title>Lista de técnicos</title>
    </head>
    <body>
        <main>
            <header th:replace="Fragmentos/header :: header"></header>

            <div class="container px-4 py-5">
                <h1 class="pb-2 border-bottom">Lista de técnicos</h1>
                <div class="d-flex mt-3 mb-4">
                    <a class="btn btn-primary" th:href="@{'/tecnicos/newForm'}">Nuevo técnico</a>
                </div>
                <div th:if="${msg != null}" th:text="${msg}" class="alert alert-success" role="alert"></div>

                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>DNI</th>
                            <th>Teléfono</th>
                            <th>Edad</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="tecnico, info : ${listaTecnicos}">
                            <td th:text="${info.index + 1}"></td>
                            <td th:text="${tecnico.firstName}"></td>
                            <td th:text="${tecnico.lastName}"></td>
                            <td th:text="${tecnico.dni}"></td>
                            <td th:text="${tecnico.phone}"></td>
                            <td th:text="${tecnico.age}"></td>

                            <td><a class="btn btn-primary"
                                   th:href="@{'/tecnicos/edit?id=' + ${tecnico.id}}"><i class="bi bi-pencil-square"></i></a>
                            </td>
                            <td><a class="btn btn-danger"
                                   th:href="@{'/tecnicos/delete?id=' + ${tecnico.id}}"><i class="bi bi-trash3"></i></a>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
        <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    </body>
</html>
